{% extends 'nflpix/base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>NFL Schedule</h1>

    <form method="post">
      {% csrf_token %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Week</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Start Time</th>
            <th>Predict Winner</th>
          </tr>
        </thead>
        <tbody>
          {% for game in games %}
            <tr>
              <td>{{ game.week }}</td>
              <td>{{ game.home_team }}</td>
              <td>{{ game.away_team }}</td>
              <td>{{ game.start_time }}</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="id_game_{{ game.id }}_home" name="game_{{ game.id }}" value="{{ game.home_team }}" required>
                  <label class="form-check-label" for="id_game_{{ game.id }}_home">Predict {{ game.home_team }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="id_game_{{ game.id }}_away" name="game_{{ game.id }}" value="{{ game.away_team }}" required>
                  <label class="form-check-label" for="id_game_{{ game.id }}_away">Predict {{ game.away_team }}</label>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Submit Predictions</button>
    </form>
  </div>
{% endblock %}
