{% extends 'nflpix/base.html' %}

{% block content %}
  <h1>NFL Pick Standings</h1>

  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Correct Predictions</th>
        <th>Total Predictions</th>
      </tr>
    </thead>
    <tbody>
      {% for user_record in user_records %}
        <tr>
          <td>
            <strong>{{ user_record.user.username }}</strong>
            <span id="arrow_{{ user_record.user.id }}" aria-label="{% if user_record.correct_predictions > 0 %}Correct Predictions{% else %}Incorrect Predictions{% endif %}"></span>
          </td>
          <td>{{ user_record.correct_predictions }}</td>
          <td>{{ user_record.total_predictions }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      {% for user_record in user_records %}
        var arrowSpan = document.getElementById('arrow_{{ user_record.user.id }}');
        var upArrow = '<i class="bi bi-arrow-up text-success" aria-hidden="true"></i>';
        var downArrow = '<i class="bi bi-arrow-down text-danger" aria-hidden="true"></i>';

        // Display up arrow for correct predictions, down arrow for incorrect predictions
        arrowSpan.innerHTML = '{% if user_record.correct_predictions > 0 %}' + upArrow + '{% else %}' + downArrow + '{% endif %}';
      {% endfor %}
    });
  </script>
{% endblock %}
